html, body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.grid-container{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}

.grid-row{
    border-color: green;
}

.grid-item{
    height: 0.1625%; /* 1/16 of the whole grid */ 
    width: 0.1625%; /* 1/16 of the whole grid */
    border: 3px solid black;
    margin: 2px;
    padding: 5px;
}
