html, body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

header{
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}

@font-face {
    font-family: myRobotic;
    src: url(humanoid/HUMANOID.TTF);
}

.grid-container{
    display: flex;
    width: 480px ;
    height: 480px;
    background-color: blanchedalmond;
}

.grid-item,
.filled {
    /* height: 6.25%; */ 
    /* width: 6.25%;  */
    background-color: white ;
    border: 0px solid black;
    margin: 0px;
    padding: 12px;
}

.filled{
    background-color: black;
}


button{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

#reset-btn{
    height: 40px;
    width: 80px;
    font-family: myRobotic;
    font-size: 24px;
}
