html, body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

body{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
}

header{

    font-size: 86px;
    font-weight: bold;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}

@font-face {
    font-family: myRobotic;
    src: url(humanoid/HUMANOID.TTF);
}

.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
}

.left-side-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.grid-container{
    display: flex;
    width: 480px ;
    height: 480px;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 2px solid black
}

.grid-item,
.filled {
    background-color: white ;
    border: 0px solid black;
    margin: 0px;
    padding: 12px;
}

button{
    height: 60px;
    width: 120px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

#reset-btn{
    font-family: myRobotic;
    font-size: 36px;
}

.color-container{
    height: 60px;
    width: 120px;
    margin: 20px;
}
